<nav class="navbar navbar-expand-lg bg-info px-2">
    <div class="container-fluid">
      <a class="navbar-brand px-4" routerLink="#">ECOM Category</a>
      <div class="d-flex">
        <button (click)="clickAddCategory()" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Category</button>
      </div>
    </div>
  </nav>
   <app-sidenav></app-sidenav>
<!--table--->
<!-- <div class="display-area p-3 mx-5">

<table class="table mt-3">
    <thead>
    <tr>
      <th scope="col">Employee ID</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email ID</th>
      <th scope="col">Mobile No.</th>
      <th scope="col">Salary</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
    <tbody>
    <tr *ngFor="let row of categoryData">
      <td>{{row.id}}</td>
      <td>{{row.firstName}}</td>
      <td>{{row.lastName}}</td>
      <td>{{row.email}}</td>
      <td>{{row.mobile}}</td>
      <td>{{row.salary}}</td>
      <td>
        <button type="button" (click)="onEdit(row)" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-info">Edit</button>
        <button type="button" (click)="deleteCategory(row)" class="btn btn-danger mx-3">Delete</button>
      </td>
  
    </tr>
  </tbody>
  </table>
  </div>  -->
  <!---table--->
<div class="display-area p-3 mx-5">

<table class="table mt-3">
    <thead>
    <tr>
      <th scope="col">Category ID</th>
      <th scope="col">Category Name</th>
      <th scope="col">Image Name</th>

      <!-- <th scope="col">Category Image</th> -->
      <th scope="col">Action</th>

    </tr>
  </thead>
    <tbody>
    <tr *ngFor="let row of categoryData">
      <td>{{row.id}}</td>
      <td>{{row.name}}</td>
      <td>{{row.imageUrl}}</td>
      <!-- <td>{{row.image}}</td> -->
      <!-- <td> <img [src]="ImageBase64" (load)="handleImageLoad()" height="80%" width="20%" style="object-fit: cover;"></td> -->
      <td>
        <button type="button" (click)="onEdit(row)" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-info">Edit</button>
        <button type="button" (click)="deleteCategory(row)" class="btn btn-danger mx-3">Delete</button>
      </td>
  
    </tr>
  </tbody>
  </table>
  </div>  
  <!-- Modal -->
 <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Category Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="categoryForm">
          <!-- <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">First Name</label>
            <input type="text" formControlName="firstName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Last Name</label>
            <input type="text" formControlName="lastName"  class="form-control" id="exampleInputPassword1">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Email Id</label>
            <input type="email" formControlName="email"  class="form-control" id="exampleInputPassword2">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Mobile</label>
            <input type="text" formControlName="mobile"  class="form-control" id="exampleInputPassword3">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Salary</label>
            <input type="text"  formControlName="salary" class="form-control" id="exampleInputPassword14">
          </div>  -->
          <div class="mb-3">
            <label for="exampleInputName" class="form-label">Category Name</label>
            <input type="text"  formControlName="name" class="form-control" id="exampleInputName">
          </div>
          <div class="mb-3">
            <label for="exampleInputUpload" class="form-label">Upload Image</label>
            <input type="file" (change)="onUpload($event)" formControlName="imageUrl" class="form-control" id="exampleInputUpload">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" *ngIf="showAdd" (click)="postCategoryDetails()" class="btn btn-primary">Add</button>
        <button type="button" *ngIf="showUpdate" (click)="updateCategoryDetails()" class="btn btn-primary">Update</button> 

      </div>
    </div>
  </div>
  </div>
  
